<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}  Drinks Catalogue</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-container">
        <div class="container-fluid menu pt-2 pb-2">
           <a class="navbar-brand" href="#">
            Drinks Cataloguea
            </a>
            <button class="navbar-toggler menu-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon down"></span>
            </button>
            <div class="collapse nav-collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul mynav-ul">
                    <li class="nav-item active dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Fliter
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Flavour</a></li>
                            <div class="line"></div>
                            <li><a class="dropdown-item" href="#">Dietary Preferences </a></li>
                            <div class="line"></div>
                            <li><a class="dropdown-item" href="#">Allergies</a></li>
                        </ul>
                    </li>
                    <div class="line"></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <div class="line"></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <div class="line"></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Story</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <input class="input form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn my-btn" type="submit">Search</button>
                </div>
            </div>
        </div>
    </nav>
    
  <div class="conatiner-xxl">
    <div class="container">
      <div class="row mb-5 pb-5  justify-content-center">

          {% block content %} {% endblock %}

      </div>     
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>